
{% extends 'mysite/sidebar.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>FUNIV - followings</title>{% endblock %}

{% block content %}
<div class="developers">
<div class="developers-grids">
    <!-- container -->
    <div class="container" style="width: 100%">
    <div class="developers-grid">
        <a>My followings {{ followings.count }}</a>
    </div>
    {% for following in followings %}
    <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid" style="margin-bottom: 20px">
            <div class="resent-grid-img recommended-grid-img" style="height: 150px;overflow: hidden;text-align:center;">
                <a href="{% url 'profile' pk=following.pk %}"><img alt="" src="{{ following.avator.url }}"  style="left: 50%;margin-left: -100%;position: relative;width: auto !important;height: 150px !important;border-radius: 100%;"></a>
            </div>
            <div class="resent-grid-info recommended-grid-info" style="text-align: center">
                <h5><a class="title" href="{% url 'profile' pk=following.pk %}">{{ following.user }}</a></h5>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</div>
{% endblock content %}